

	<p>
		<%= image_tag "1.jpg", class: "fancybox", rel: "group", size: "300x300" %>
		<%= image_tag "2.jpg", class: "fancybox", rel: "group", size: "300x300" %>
		<%= image_tag "3.jpg", class: "fancybox", rel: "group", size: "300x300" %>
		<%= image_tag "4.jpg", class: "fancybox", rel: "group", size: "300x300" %>
	</p>
